*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    -webkit-font-smoothing: antialiased;
}

:root{
    --bg-color: #CFE0C3;
    --bg2-color: #0B2027;
    --letra: #fff;
    --botao: #344F51;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--bg-color);
}

main {
    display: flex;
}

.container {
    background-color: #0B2027;
    padding: 40px;
    width: 700px;
}

.emcima h2 {
    color: white;
}

form div {
    background-color: #344F51;
    border-radius: 16px;
    height: 40px;
}

form div {
    display: flex;
    align-items: center;
}